.overlay {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.row {
  margin-top: 30px;
  margin-right: 30px;
}
.react-clock__face {
  background-color: navajowhite;
  border: 'white';
  top: 10px;
}
.react-clock {
  width: 200px !important;
  height: 200px !important;
}

.formCSS1 {
  width: 30vmax;
  background-color: rgba(233, 233, 233, 0.9);
  margin-bottom: 10px;
  padding: 3vw;
  margin-top: 10px;
  border-radius: 10px;
  color: #505e6c;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}
