/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#bg {
  background: url('https://www.mindef.gov.sg/web/wcm/connect/army/59742a3d-7fcb-4e64-b3a5-6b197e152e09/5-Ton-Man-Truck-16-284-LAERC-GS.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_1QK41482L8HD90QOSSLBSG3000-59742a3d-7fcb-4e64-b3a5-6b197e152e09-mo-t6bK')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root > .alert-danger {
  visibility: hidden;
  width: 0;
  height: 0;
  margin-top: -50;
}

.formCSS {
  min-width: 300px;
  min-height: 450px;
  width: 30vmax;
  height: 32vmax;
  background-color: rgb(255, 255, 255, 0.75);
  padding: 3vw;
  border-radius: 10px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.login {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .illustration {
  text-align: center;
  padding: 0 0 25px;
  font-size: 100px;
  color: rgb(244, 71, 107);
}

.login .illustration .image {
  width: 15vw;
  min-width: 150px;
  border-radius: 90px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

form.Group {
  margin: 10px;
}

.btn btn-primary {
  align-items: center;
}

.alert-danger {
  background-color: 'red';
  display: block;
  overflow: hidden;
  margin-top: '25%';
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}
