.test1 {
  margin-top: 20px;
  padding: 40px;
  margin-left: 55px;
  border-style: solid;
  background-color: #f7f7ff;
}

h1 {
  text-align: center;
  padding-top: 0px;
  display: block;
}

.breakLine2 {
  width: '100%';
  margin-left: -30px;
  margin-right: -30px;
  border-top: 2px solid;
  border-color: black;
}

.overall {
  background-color: whitesmoke;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;

  overflow-x: hidden;
}
.react-datepicker-wrapper {
  width: 40%;
}

.react-datepicker-popper {
  left: -100px !important;
}

.react-datepicker__triangle {
  left: 125px !important;
}
.overall1 {
}

input {
  width: 150px;
}

.input2 > input {
  width: 20px;
}

.input-field {
  position: relative;
  width: 80%;
  line-height: 44px;
}

.input-field1 {
  position: relative;
  width: 50%;
  line-height: 44px;
}

.input-field > .textField:valid,
.input-field > .textField:focus {
  position: relative;
  height: 50px;
  padding: 30px 20px 10px 20px;
  width: 128%;
  transition: 0.4s ease-in-out;
  color: black;
}
.input2 {
  width: 10 !important;
}

.input-field1 > .textField:valid,
.input-field1 > .textField:focus {
  position: relative;
  height: 50px;
  padding: 30px 20px 10px 20px;
  width: 200%;
  transition: 0.4s ease-in-out;
  color: black;
}

.label {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 100%;
  color: #111;
  transition: 0.2s height 0.4s ease-in-out;
  cursor: text;
}
.textField {
  width: 100%;
  border: 0;
  outline: 0;
  position: relative;
  line-height: -100px;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

.textField:focus,
.textField:valid {
  border-color: #00dd22;
}
.textField:focus ~ .label,
.textField:valid ~ .label {
  font-size: 16px;
  height: 20px;
  padding: 10px;
  top: -20px;
  right: 0px;
  color: blue;
}

.smallBreak {
  display: block;
  margin: -40px;
  height: -10px;
}
.overall2 {
  padding: 40px;
  border-style: solid;
  background-color: #f7f7ff;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.breakLine {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: blue;
  border-color: rgb(104, 27, 27);
}

.summary {
  opacity: 50%;
}
