.Row {
  padding: 50px;
  margin-bottom: 50px;
}

.overlay {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: auto;
}

.h1Class {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 50px;
}

.overlayFix {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 30px;
  z-index: 1000;
  overflow: auto;
}
