.table1 {
  height: 200px;
  width: 1500px;
}
@media only screen and (max-device-width: 1500px) {
  .table1 {
    height: auto;
    width: auto;
  }
}

.buttonText {
  text-decoration: underline;
  color: blue;
  align-items: flex-start;
  text-align: left;
  position: relative;
  background: none;
  border: none;
}

.buttonText:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.contentAlignment {
  padding: 20px;
  color: black;

  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}
.nav-tabs {
  border-bottom: burlywood;
}
.myClass {
  display: flex;
  margin-top: 100px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.myClass > a {
  background-color: gray;

  color: rgb(251, 255, 0);
}
.myClass a:focus {
  background-color: white;
  color: black;
}
.nav-tabs .nav-link {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.nav-tabs .nav-item.nav-link.active {
  background: beige;
  color: black;
}
