.table {
  position: absolute;
  padding-left: 80px;
  padding-top: 10px;
  padding-right: 10px;
}
.card-appear {
  opacity: 0;
}
.card-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-appear-done {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
